<div class="page-header">
  <h1 class="page-title">Request history</h1>
</div>

<div class="page-content">
  <!-- Requested History Panel -->
  <div class="panel" ng-controller="RelocationRequestHistoryCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Requests</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contacts</th>
            <th>Relocation Info</th>
            <th>Expecting Moving Date</th>
            <th>Requested Date</th>
            <th>Status</th>
            <th>Cancel</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="request in requests">
            <td>{[{request.employee.first_name}]}</td>
            <td>{[{request.employee.last_name}]}</td>
            <td>Email: {[{request.employee.email}]}<br>Phone: {[{request.employee.phone}]}</td>
            <td>
              <b>Relocate</b> from {[{request.relocate_from}]} to {[{request.relocate_to}]}<br>
              <b>Need furniture:</b> <span ng-show="request.need_furniture">Yes</span><span ng-show="!request.need_furniture">No</span><br>
              <b>How long will this employee stay:</b> {[{ request.duration_title }]}<br>
              <span ng-show="request.special_needs"><b>Special needs:</b> {[{ request.special_needs }]}</span>
            </td>
            <td>{[{request.expected_moving_date | date : 'yyyy-MM-dd'}]}</td>
            <td>{[{request.created_dt | date : 'yyyy-MM-dd'}]}</td>
            <td>
              <span class="label label-round"
                    ng-class="{'label-primary': request.status == 1, 'label-success': request.status == 2, 'label-danger': request.status == 3}">
                {[{request.status_title}]}
              </span></td>
            <td><a ng-if="request.status==1" ng-click="cnacel_confirm(request.id)" style="cursor: pointer">Cancel</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Requested History Panel -->
  </div>
</div>
