<div class="page-header">
  <h1 class="page-title">Request New Employee Relocation</h1>
</div>

<div class="page-content">
  <!-- New Request Panel -->
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-actions">
        <button type="button"
                class="btn btn-primary btn-outline"
                ui-sref="app.employee.relocation_request">
          <span><i class="icon wb-plus"></i> Add employee</span>
        </button>
      </div>
      <h3 class="panel-title">Request for</h3>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contacts</th>
            <th>Relocation Info</th>
            <th>Expecting Moving Date</th>
            <th>Requested Date</th>
            <th>Manage</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="request in relocation.requests">
            <td>{[{request.employee.first_name}]}</td>
            <td>{[{request.employee.last_name}]}</td>
            <td>Email: {[{request.employee.email}]}<br>Phone: {[{request.employee.phone}]}</td>
            <td>
              <b>Relocate</b> from {[{request.relocate_from}]} to {[{request.relocate_to}]}<br>
              <b>Need furniture:</b> <span ng-show="request.need_furniture">Yes</span><span ng-show="!request.need_furniture">No</span><br>
              <b>How long will this employee stay:</b> {[{ request.duration_title }]}<br>
              <span ng-show="request.special_needs"><b>Special needs:</b> {[{ request.special_needs }]}</span>
            </td>
            <td>{[{request.expected_moving_date | date : 'yyyy-MM-dd'}]}</td>
            <td>{[{request.created_dt | date : 'yyyy-MM-dd'}]}</td>
            <td>
              <a ng-click="relocation.deleteRequest(request)">Remove</a>
              <br>
              <a ui-sref="app.employee.relocation_request_edit({id: request.id})">Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel-footer container-fluid">
      <div class="row">
        <form role="form" class="form col-sm-4 col-sm-offset-4" novalidate>
          <button class="btn btn-block btn-success btn-outline" ng-click="relocation.confirmSubmit()">Request</button>
        </form>
      </div>
    </div>
    <!-- End New Request Panel -->
  </div>
</div>
