<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="RelocationRequestCtrl">
    <h1 class="page-header">Request New Employee Relocation</h1>

    <div class="table-responsive">
        <div class="pull-left">Request for:</div>
        <div class="pull-right"><button type="button" class="btn btn-primary" ui-sref="app.employee.requested_employee">+Add employee</button></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contacts</th>
                    <th>Title</th>
                    <th>Furniture</th>
                    <th>Short-Lease</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{[{employee.first_name}]}</td>
                    <td>{[{employee.last_name}]}</td>
                    <td>Email: {[{employee.email}]}<br>Phone: {[{employee.phone}]}</td>
                    <td>{[{employee.job_title}]}</td>
                    <td>
                        <div ng-if="employee.need_furniture">Need furniture</div>
                    </td>
                    <td>{[{employee.duration_title}]}</td>
                    <td>
                        <a ng-click="delete_employee(employee)">Remove</a>
                        <br>
                        <a ui-sref="app.employee.requested_employee_edit({id: employee.id})">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <form role="form" class="form" name="RequestNewEmployeeRelocationForm" novalidate>
            <div class="form-inline">
                <div class="form-group">
                    <label for="id_relocate_from">Relocating from:</label><br>
                    <input type="text" class="form-control" id="id_relocate_from" name="relocate_from" ng-model="model.relocate_from" placeholder="Type to select the city" required>
                    <div class="alert alert-danger" ng-repeat="error in errors.relocate_from">{[{error}]}</div>
                </div>
                <div class="form-group" style="font-size: 50px; padding: 0 20px 0 20px;">&#10145;</div>
                <div class="form-group">
                    <label for="id_relocate_to">Relocating to:</label><br>
                    <input type="text" class="form-control" id="id_relocate_to" name="relocate_to" ng-model="model.relocate_to" placeholder="Type to select the city" required>
                    <div class="alert alert-danger" ng-repeat="error in errors.relocate_to">{[{error}]}</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="id_expected_moving_date">Expected Moving Date:</label><br>
                    <input class="form-control" id="id_expected_moving_date" name="expected_moving_date" ng-model="model.expected_moving_date" required>
                    <div class="alert alert-danger" ng-repeat="error in errors.expected_moving_date">{[{error}]}</div>
                </div>
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{[{error}]}</div>
            <div class="alert alert-danger" ng-if="error">{[{error}]}</div>
            <br>
            <button
              class="btn btn-success"
              mwl-confirm
              title="Confirmation"
              message="Are you confirm submitting data?"
              confirm-text="Yes <i class='glyphicon glyphicon-ok'></i>"
              cancel-text="No <i class='glyphicon glyphicon-remove'></i>"
              on-confirm="store(RequestNewEmployeeRelocationForm)"
              on-cancel=""
              placement="right"
              confirm-button-type="danger"
              cancel-button-type="default">
              Request
            </button>
        </form>
    </div>
</div>

<script type="text/javascript">
  $(function() {
    $( "#id_expected_moving_date" ).datepicker({
        dateFormat: 'yy-mm-dd'
    });
  });
</script>
