<div class="page-header">
  <h1 class="page-title">Employee Management</h1>
</div>

<div class="page-content">
  <!-- Employee List Panel -->
  <div class="panel" ng-controller="EmployeeListCtrl">
    <div class="panel-heading">
      <div class="panel-actions">
        <button type="button"
                class="btn btn-primary btn-outline"
                ui-sref="app.employee.new_profile">
          <span><i class="icon wb-plus"></i> Add Profile</span>
        </button>
      </div>
      <h3 class="panel-title">Employees</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contacts</th>
              <th>Title</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in employees">
              <td>{[{employee.first_name}]} {[{employee.last_name}]}</td>
              <td>Email: {[{employee.email}]}<br>Phone: {[{employee.phone}]}</td>
              <td>{[{employee.job_title}]}</td>
              <td>
                <a href="" ng-click="delete_employee(employee)">Remove</a>
                <br>
                <a ui-sref="app.employee.edit_profile({id: employee.id})">Edit</a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Employee List Panel -->
  </div>
</div>
