<div class="page-header">
  <h1 class="page-title">Dashboard <span ng-if="App.user.company">&ndash; {[{App.user.company.name}]}</span> <span ng-if="App.user.department">&ndash; {[{App.user.department.name}]}</span></h1>
</div>
<div class="page-content container-fluid">
  <div class="row">
    <div class="col-xlg-4 col-md-6">
      <!-- Relocation Panel -->
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon wb-globe"></i>
            Relocation
          </h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" ui-sref="app.relocation.request">New Request</a>
            <a class="list-group-item" ui-sref="app.relocation.history">Request History</a>
          </div>
        </div>
      </div>
      <!-- End Relocation Panel -->
    </div>

    <div class="col-xlg-4 col-md-6">
      <!-- People Panel -->
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon wb-users"></i>
            People
          </h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" ui-sref="app.employee.list">Employee Management</a>
          </div>
        </div>
      </div>
      <!-- End People Panel -->
    </div>

    <div class="clearfix visible-md-block visible-lg-block hidden-xlg"></div>

    <div class="col-xlg-4 col-md-6">
      <!-- Billing Panel -->
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon wb-payment"></i>
            Billing
          </h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" ui-sref="app.billing.invoices">Invoices</a>
            <a class="list-group-item" ui-sref="app.billing.subscriptions">Subscriptions</a>
          </div>
        </div>
      </div>
      <!-- End Billing Panel -->
    </div>

    <div class="col-xlg-4 col-md-6">
      <!-- Support Panel -->
      <div class="panel panel-bordered">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="icon wb-help-circle"></i>
            Support
          </h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" ui-sref="app.support.feedback">Feedback</a>
          </div>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a class="list-group-item" ui-sref="app.support.logs">Logs</a>
          </div>
        </div>
      </div>
      <!-- End Support Panel -->
    </div>
  </div>
</div>
