<div class="page-content">
  <div class="page-brand-info hidden-xs">
    <div class="brand">
      <img class="brand-img" src="/static/images/global/logos/apartmentocean-white@2x.png" alt="Apartment Ocean">
      <h1 class="brand-text sr-only">Apartment Ocean</h1>
    </div>

    <p class="font-size-20">Relocate employees with confidence and clarity</p>
  </div>

  <div class="page-login-main">
    <div class="brand visible-xs">
      <img class="brand-img" src="/static/images/global/logos/apartmentocean-sm-dark.png" alt="Apartment Ocean">
      <h3 class="brand-text font-size-22">Apartment Ocean</h3>
    </div>
    <h3 class="font-size-24">Forgot Password</h3>

    <form role="form" ng-submit="vm.resetRequest(ForgotPasswordForm)" name="ForgotPasswordForm" novalidate>
      <div class="form-group">
        <div class="alert alert-danger" ng-repeat="error in vm.errors.email">{[{error}]}</div>
        <div class="alert alert-danger" ng-repeat="error in vm.errors.non_field_errors">{[{error}]}</div>
        <div class="alert alert-danger" ng-if="error">{[{error}]}</div>
      </div>

      <div class="form-group">
        <input name="email" type="email" id="inputEmail" class="form-control no-validation" placeholder="Email address" ng-model="vm.email" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
      </div>

      <button class="btn btn-primary btn-block btn-lg margin-top-40" type="submit">Continue</button>
      <br>
    </form>
    <p>
      Remember your password? Please go to <a ui-sref="login">Sign in</a>
    </p>
  </div>
</div>
