<div class="page-content">
  <div class="page-brand-info hidden-xs">
    <div class="brand">
      <img class="brand-img" src="/static/images/global/logos/apartmentocean-white@2x.png" alt="Apartment Ocean">
      <h1 class="brand-text sr-only">Apartment Ocean</h1>
    </div>

    <p class="font-size-20">Relocate employees with confidence and clarity</p>
  </div>

  <div class="page-login-main">
    <div class="brand visible-xs">
      <img class="brand-img" src="/static/images/global/logos/apartmentocean-sm-dark.png" alt="Apartment Ocean">
      <h3 class="brand-text font-size-22">Apartment Ocean</h3>
    </div>
    <h3 class="font-size-24">Reset Password</h3>

    <form role="form" ng-submit="vm.passwordResetConfirm(PasswordResetConfirmForm)" name="PasswordResetConfirmForm" novalidate>
      <div class="form-group">
        <div class="alert alert-danger" ng-repeat="error in vm.errors.non_field_errors">{[{error}]}</div>
        <div class="alert alert-danger" ng-if="error">{[{error}]}</div>
      </div>

      <div class="form-group">
        <input name="new_password1"
               type="password"
               id="inputNewPassword"
               class="form-control"
               placeholder="New password"
               ng-model="vm.newPassword1"
               required
               autofocus>
        <label for="inputNewPassword" class="sr-only">New password</label>
        <div class="alert alert-danger" ng-repeat="error in vm.errors.new_password1">{[{error}]}</div>
      </div>

      <div class="form-group">
        <input name="new_password2"
               type="password"
               id="inputConfirmPassword"
               class="form-control"
               placeholder="Confirm password"
               ng-model="vm.newPassword2"
               match-password="new_password1"
               required>
        <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
        <div class="alert alert-danger" ng-repeat="error in vm.errors.new_password2">{[{error}]}</div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
    <p>
      Remember your password? Please go to <a ui-sref="login">Sign in</a>
    </p>
  </div>
</div>
