<div class="page-header">
  <h1 class="page-title">Feedback</h1>
</div>

<div class="page-content">
  <div class="panel">
    <div class="panel-body">
      <form role="form" class="form" name="FeedbackForm" novalidate>

          <div class="form-group col-xs-12">
            <label class="control-label" for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" aria-describedby="subject_help" ng-model="feedback.subject">
            <div class="alert alert-danger" ng-repeat="error in feedback.errors.subject">{[{error}]}</div>
          </div>

          <div class="form-group col-xs-12">
            <label class="control-label" for="body">Body</label>
            <textarea class="form-control" id="body" name="body" aria-describedby="body_help" ng-model="feedback.body" rows="10"></textarea>
            <div class="alert alert-danger" ng-repeat="error in feedback.errors.body">{[{error}]}</div>
          </div>


            <div class="form-group">
              <div class="alert alert-danger" ng-repeat="error in feedback.errors.non_field_errors">{[{error}]}</div>
              <div class="alert alert-danger" ng-if="error">{[{error}]}</div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <button class="btn btn-danger btn-lg btn-block" type="submit" ng-click="App.$back()">Cancel</button>
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-success btn-lg btn-block" type="submit" ng-click="feedback.submit(FeedbackForm)">Send feedback</button>
                </div>
              </div>
            </div>
      </form>
    </div>
  </div>
</div>
