{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you registred at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page for activate your account:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account_activate' activate_key=user.activate_key %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
